fastapi
uvicorn
pdfplumber
python-multipart
pandas
openpyxl
pytesseract 
pillow 
pdf2image
pymongo 
python-dotenv

sqlalchemy
psycopg2-binary

python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4

alembic
pytest
httpx

python-magic
fpdf2
mammoth
weasyprint
pm2